// COLORS
$colorPrimary: #59231e;
$colorPrimaryLightest: lighten($colorPrimary, 20%);
$colorPrimaryDarkest: darken($colorPrimary, 8%);
$colorGold: #c09a54c7;
$colorBackground: #402424;
$colorText: #ccc1b7;
$colorBorder: #787771;
