@import 'variables';

// ***Home Page***
.home {
  max-width: 550px;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
  margin: auto 0;

  .title {
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $colorGold;
    text-shadow: 2px 2px 4px $colorBtnTransparent;
    .maj {
      font-size: 5rem;
    }
  }

  .subtitle {
    padding-bottom: 2rem;
    font-size: 1.3rem;
    font-weight: 400;
    text-shadow: 2px 2px 4px $colorBtnTransparent;
  }
}

/* Responsive Mobile */
@media (max-width: 700px) {
  .home {
    padding-left: 5%;
    .title {
      font-size: 2.7rem;
      .maj {
        font-size: 3.6rem;
      }
    }
    .subtitle {
      font-size: 1.2rem;
    }
  }
}
