@import 'variables';
@import 'mixins';

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  width: 100%;
  margin-bottom: 4rem;
}

/* Responsive Tablet */
@media (max-width: 1199px) {
  .list {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
}

/* Responsive Mobile */
@media (max-width: 700px) {
  .list {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
