@import 'variables';

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.5rem;
  padding: 1rem 5rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  backdrop-filter: blur(10px);
  background-color: $colorHeader;

  .navbar {
    padding-right: 3rem;

    .list {
      display: flex;
      gap: 3rem;

      .elem {
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $colorGold;
          text-shadow: $hoverShadow;
        }
      }
    }
  }
}
